<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime Recommendation System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        
    </nav>
    <h1>Anime Recommendation System</h1>
   <div id="container">
 <div id="content">
    <form action="/recommend" method="post" id="form">
        <label for="title">Enter an anime title:</label>
        <input type="text" id="title" name="title" required><br>
        <button type="submit">Get Recommendations</button>
    </form>
 </div>
   </div>
</body>
</html>
